*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  margin: 0 2rem;
  padding-bottom: 3rem;
 
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(./Group\ 1.svg);
    background-size: cover;

     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#greet{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20vh;
  width: fit-content;
  height: fit-content;
  background-color: #3fd5bc60;
  border-radius: 16px;
  transition: all 0.3s ease;
  z-index: 99;
  padding: 2rem 4rem;
}

#greet>h1{
  color: white;
  font-size: 48px;
}

#greet>p:nth-of-type(2){
  color: white;
  font-size: 26px;
}

#greet>p:nth-of-type(aa){
  color: white;
}


#background-glow{
  z-index: 0;
  position: fixed;
  border-radius: 50%;
  width: 60vw;
  height: 40vw;
  bottom: -20vw;
  background-color: #3FD5BC;
  filter: blur(100px) opacity(40%);
  overflow: hidden;
}

input{
  outline: none;
  z-index: 2;
  background-color: none;
  fill: none;
  background: transparent;
  border: none;
  font-size:16px;
  
}

.top-inputs{
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(255, 255, 255,0.10);
  border-radius: 99px;
  border: 1px solid white;
  padding: 0px 8px 0px 8px;
}

#name,#room{
  color: white;
}




.btn{
  border: none;
  border-radius: 99px;
  background-color: #17A48A;
  width: 48px;
  height: 48px;
}

.btn:hover{
  cursor: pointer;
}

#msgForm {
  width: 55%;
  z-index: 99;
  border: white 1px solid;
  border-radius: 99px;
  padding: 0.25rem;
  position: fixed;
  bottom: 5rem;
  background-color: rgba(255,255,255,0.1);
  display: flex;
  height: 3rem;
}

#msgInput {
  padding: 0 1rem;
  flex-grow: 1;
  margin: 0.25rem;
  color: white;
}

#msgInput:focus {
  outline: none;
}

#messages {
    z-index: 2;
    display: flex;
    width: 60%; 
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    gap: 8px  ;
    margin: 0;
    padding: 0;
    height: 75vh;
    overflow: scroll;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
 display: none;              
}

.top-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-bottom: 1rem;
  margin-top:8px;
}

#messages span{
    background: 	black;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    width: fit-content;
    padding: 8px 16px;
    margin-bottom: 1rem;
    font-size: 24px;
    margin-top: 1rem;
}

#messages > div {
  padding: 0.5rem 1rem;
}

#roomStatus{
  color: red;
  padding: 0 16px;
}

.join-form{
    display: flex;
    gap: 8px;
    justify-content: center;
}

#activeUsers{
    display: none;
    color: white;
    text-align: center;
    opacity: 60%;
    margin-top: 1rem;
    margin-bottom: 8px;
}

#name,#room,#msgInput{
    padding: 4px 16px;
}

#top-line{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  translate: -1200px;
  transition: all 0.3s ease;
  margin-top: 4px;
  gap: 16px;
}

.exit-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 4px 12px;
  /* filter: drop-shadow(0px 8px 15px #17A48A); */
}

.exit-btn:hover{
  cursor: pointer;
}

.msg{
  max-width: 512px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.op{
  font-size: 12px;
  color: rgba(60, 58, 58, 0.8);
}

.m-content{
  font-size: 16px;
  line-break: anywhere;
}

.msg-sent>.m-content{
  color: white;
}

.msg-incoming{
  align-self: flex-start;
  background-color: #ffffff;
  align-items: flex-start;
  border-top-left-radius: 0;
}

.msg-sent{
  align-self: flex-end;
  background-color: #17A48A;
  align-items: flex-end;
  border-top-right-radius: 0;
}

#msgActivity{
  border-radius: 12px;
  border-top-left-radius: 0;
  order: 999;
  color: #7c8191;
  background-color: rgb(41, 41, 41);
  font-style: italic;
  display: none;
}

@media only screen and (max-width: 1024px) {
  #greet h1{
    font-size: 32px;
  }

  #greet > p:nth-of-type(2){
    font-size: 18px;
  }

}

@media only screen and (max-width: 768px) {
  #greet h1{
    font-size: 30px;
  }

  #greet > p:nth-of-type(2){
    font-size: 14px;
  }

  #greet > p:nth-of-type(aa){
    font-size: 14px;
  }

  .exit-btn{
    font-size: 16px;
  }


  #messages{
    width: 100%;
  }
  #messages span{
    font-size: 16px;
  }

  #msgInput{
    font-size: 16px;
  }

  
}

@media only screen and (max-width: 566px) {
  /* #greet h1{
    font-size: 24px;
  }

  #greet > p:nth-of-type(2){
    font-size: 12px;
  } */

  #greet{
    padding: 1rem 2rem;
  }

  #top-line{
    flex-direction: column;
    gap: 4px;
  }

  #activeUsers{
    margin: 0;
  }

  .join-form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #msgForm {
    bottom: 2rem;
  }

}

@media only screen and (max-width: 480px) {
  #greet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }

  #msgForm {
    width: 80%;
  }
  

  .exit-btn{
    position:relative;
    margin: auto;
    left: 0;
  }

  #messages{
    font-size: 12px;
  }

 
}
